@{
    ViewData["Title"] = "Investment Successful";
}

<h2>Investment Successful!</h2>
<p>Thank you for investing in Charging Station #@ViewBag.StationId</p>
<p>Invested Amount: @ViewBag.Amount</p>
<a href="/">Back to Home</a>
